@import '../../styles/mixins.scss';

.button {
  background-color: #bb5207;
  border: solid .2em #781616;
  border-radius: .5em;
  color: #222;
  font-size: 1em;
  outline: none;
  padding: .5em;

  &:active {
    background-color: #ff0000;
    @include transform(scale(.8, .8));
  }
}